# EditorConfig for Shell Scripts
# See https://editorconfig.org for documentation

# All files
[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

# Shell scripts
[*.{sh,bash,ksh,tcsh,azcli}]
indent_style = space
indent_size = 2

# BATS test files
[*.bats]
indent_style = space
indent_size = 2

# Markdown documentation
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# Mark this as the root
root = true
